* {
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Maison Neue Demi';
  font-size: 16px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

body {
  overflow-y: scroll;
}

.header {
  font-family: 'Maison Neue Bold';
  font-weight: bold;
}

.description {
  font-family: 'MaisonNeue-Book';
  font-weight: 100;
  line-height: 1.5;
}

/* NAVBAR */

nav {
  background-color: rgb(16 24 32);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 100px;
}

.logo {
  width: 112px;
}

.nav-links {
  display: flex;
  gap: 40px;
  font-size: 18px;
  font-weight: 700;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.dropdown-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.arrow-down {
  width: 12px;
}

/*  */

main {
  background-color: #101820;
}

/* HERO */

.hero {
  position: relative;
  width: 100%;
  height: 800px;
  background: url('img/hero.jpg') no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.1);
}

.tagline {
  width: 80%;
  margin: 0 auto;
  font-size: 54px;
  font-weight: bold;
  line-height: 1.4;
  z-index: 2;
}

/*  */

/* CTA */
/* CTA-1 */
.cta-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: fit-content;
  margin: 0 auto;
  padding: 80px 0 100px;
}

.cta-1 h1 {
  font-size: 48px;
  font-weight: bold;
}

/*  */

.btn-gabung {
  padding: 0 24px;
  width: fit-content;
  height: 44px;
  background-color: #00880d;
  border-radius: 999px;
}
/*  */

/* ACHIEVEMENTS */
.achievements {
  position: relative;
  background-color: white;
  margin: 60px auto 0;
  max-width: 1200px;
}

.achievement-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  gap: 32px;
  align-items: start;
  position: absolute;
  top: -130px;
}

.achievement-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.achievement-card__icon {
  width: 140px;
  margin-bottom: 24px;
}

.achievement-card__header {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  margin-bottom: 8px;
  text-align: center;
}

.achievement-card__description {
  color: #000;
  text-align: center;
  font-size: 18px;
}
