.achievements {
  position: relative;
  padding-bottom: 40px;
}

.achievements .wrapper {
  position: relative;
  z-index: 2;
}

.achievements-bg {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 230px;
}

.achievements .overlay {
  background-color: #fff;
  position: absolute;
  top: 70px;
  height: 96px;
  width: 100%;
  border-top-left-radius: 999px;
  border-top-right-radius: 999px;
}

.achievement-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  gap: 32px;
  align-items: start;
}

.achievement-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.achievement-card__icon {
  width: 140px;
  margin-bottom: 24px;
}

.achievement-card .header {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  margin-bottom: 8px;
  text-align: center;
}

.achievement-card .description {
  color: #000;
  text-align: center;
  font-size: 18px;
}
