.achievements {
  position: relative;
  padding-bottom: 40px;
  background-color: #fff;
}

.achievements .top-bg-1 {
  position: absolute;
  top: -2px;
  left: 0;
  height: 166px;
  width: 100%;
  background-color: #101820;
}

.achievements .top-bg-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 96px;
  width: 100%;
  background-color: #fff;
  border-top-left-radius: 999px;
  border-top-right-radius: 999px;
}

.achievements .wrapper {
  position: relative;
  z-index: 2;
}

.achievement-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  gap: 32px;
  align-items: start;
}

.achievement-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.achievement-card__icon {
  width: 140px;
  margin-bottom: 24px;
}

.achievement-card .header {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin-bottom: 8px;
  text-align: center;
}

.achievement-card .description {
  color: #000;
  text-align: center;
  font-size: 16px;
}

@media screen and (min-width: 992px) {
  .achievement-card .header {
    font-size: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .achievement-card .description {
    font-size: 18px;
  }
}
