* {
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Maison Neue Demi';
  font-size: 16px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

body {
  overflow-y: scroll;
}

main {
  background-color: #101820;
}

.header {
  font-family: 'Maison Neue Bold';
  font-weight: bold;
}

.description {
  font-family: 'MaisonNeue-Book';
  font-weight: 100;
  line-height: 1.5;
}

.btn-gabung {
  padding: 0 24px;
  width: fit-content;
  height: 44px;
  background-color: #00880d;
  border-radius: 999px;
}
