*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Maison Neue Demi';
  font-size: 16px;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

main {
  background-color: #101820;
}

.wrapper {
  max-width: 80vw;
  margin: 0 auto;
}

.header {
  font-family: 'Maison Neue Extended Bold';
  font-weight: 900;
}

.header-2 {
  font-family: 'Maison Neue Bold';
  font-weight: bold;
}

.header-3 {
  font-family: 'Maison Neue Extended Bold';
  font-weight: bold;
}

.description {
  font-family: 'MaisonNeue-Book';
  font-weight: 100;
  line-height: 1.5;
}

.btn-gabung {
  padding: 0 24px;
  width: fit-content;
  height: 44px;
  background-color: #00880d;
  border-radius: 999px;
}
