.cta-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: fit-content;
  margin: 0 auto;
  padding: 80px 0 100px;
}

.cta-1 h1 {
  font-size: 48px;
  font-weight: bold;
}
