nav {
  position: sticky;
  top: 0;
  background-color: rgb(16 24 32);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 100px;
  z-index: 3;
}

.logo {
  width: 100px;
}

.nav-links {
  display: none;
  gap: 24px;
  font-weight: 700;
}

.nav-links li a {
  font-size: 18px;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.dropdown-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.arrow-down {
  width: 12px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.hamburger .line {
  width: 25px;
  height: 2.5px;
  background-color: #fff;
}

@media screen and (min-width: 992px) {
  .nav-links {
    display: flex;
  }

  .hamburger {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .nav-links {
    gap: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    width: 112px;
  }
}
